<div class="flex justify-between">
   <h1 class="text-4xl font-black">{{ projectExists ? 'Editar Proyecto: ' + project.name : 'Crear Proyecto' }}</h1>
   <button
      type="button"
      class="text-gray-400 hover:text-gray-600 transition-colors flex items-center justify-center gap-1"
      (click)="onDeleteProject()"
   > 
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
         <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
      </svg>
      Eliminar
   </button>
</div>
<div class="mt-10 flex justify-center">
   <form class="bg-white py-10 px-5 md:w-1/2 rounded-lg space-y-5" [formGroup]="projectForm" (ngSubmit)="onSaveProject()"   >

      <div
         *ngIf="showMessage"
         [ngClass]="{
            'from-sky-400 to-sky-600': !hasError,
            'from-red-400 to-red-600': hasError
         }"
         class="bg-gradient-to-br text-center p-3 rounded-xl uppercase text-white font-bold text-sm my-10"
      >
         <span class="block sm:inline">
            {{ message }}
         </span>
      </div>

      <div>
         <label 
            for="name" 
            class="text-gray-700 uppercase font-bold text-sm"
         >Nombre Proyecto</label>
         <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="border w-full p-2 mt-2 placeholder:gray-400 rounded-md outline-none" 
            placeholder="Nombre del Proyecto"
         >
      </div>

      <div>
         <label 
            for="description" 
            class="text-gray-700 uppercase font-bold text-sm"
         >Descripción Proyecto</label>
         <textarea 
            formControlName="description"
            id="description" 
            class="border w-full p-2 mt-2 placeholder:gray-400 rounded-md outline-none" 
            placeholder="Descripción del Proyecto"
         ></textarea>
      </div>

      <div>
         <label 
            for="delivery-date" 
            class="text-gray-700 uppercase font-bold text-sm"
         >Fecha de Entrega</label>
         <input 
            formControlName="deliveryDate"
            id="delivery-date" 
            type="date" 
            class="border w-full p-2 mt-2 placeholder:gray-400 rounded-md outline-none" 
         >
      </div>

      <div>
         <label 
            for="client" 
            class="text-gray-700 uppercase font-bold text-sm"
         >Nombre Cliente</label>
         <input 
            formControlName="client"
            id="client" 
            type="text" 
            class="border w-full p-2 mt-2 placeholder:gray-400 rounded-md outline-none" 
            placeholder="Nombre del Cliente"
         >
      </div>

      <button 
         type="submit"         
         class="bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-4 rounded-lg cursor-pointer w-full transition-colors uppercase flex items-center justify-center"         
         [disabled]="projectForm.invalid"
         [ngClass]="{ 'opacity-50 cursor-not-allowed hover:bg-sky-600': projectForm.invalid }"
      >
         <svg
            class="animate-spin h-5 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24" 
            *ngIf="isSending"
            >
            <circle
               class="opacity-25"
               cx="12"
               cy="12"
               r="10"
               stroke="currentColor"
               stroke-width="4"
            ></circle>
            <path
               class="opacity-75"
               fill="currentColor"
               d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
         </svg>
         {{ projectExists ? 'Editar Proyecto' : 'Crear Proyecto' }}
      </button>
   </form>
</div>

